.header {
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0 auto;
    padding: 0;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
}
.navigation a:hover,
.navigation a:focus {
    text-decoration: underline;
    /* Додаємо підкреслення при наведенні */
    color: #00bcd4;
    /* Можна змінити колір на інший (наприклад, блакитний) */
}